<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ReleaseAction.SolutionFileName" value="pagination.sln"/>
        <add key="ReleaseAction.ProcessPath[git]" value="git"/>
        <add key="ReleaseAction.ProcessPath[nuget]" value="nuget"/>
        <add key="ReleaseAction.ProcessPath[MSBuild]" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe"/>
        <add key="Push.Source[0]" value="N:\"/>
        <add key="Push.Source[1]" value="https://api.nuget.org/v3/index.json"/>
        <add key="Push.Project[0]" value="Pagination"/>
        <add key="Push.Project[1]" value="Pagination.Web"/>
        <add key="Push.Project[2]" value="Pagination.Web.Mvc"/>
    </appSettings>
</configuration>
