<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Push.Source[0]" value="N:\"/>
        <add key="Push.Source[1]" value="https://api.nuget.org/v3/index.json"/>
        <add key="Package[0]" value="Pagination"/>
        <add key="Package[1]" value="Pagination.Web"/>
        <add key="Package[2]" value="Pagination.Web.Mvc"/>
        <add key="Repository" value="https://github.com/kyourek/pagination.git"/>
        <add key="Configuration" value="Release"/>
        <add key="Platform" value="Any CPU"/>
        <add key="ProcessPath[git]" value="git"/>
        <add key="ProcessPath[nuget]" value="nuget"/>
        <add key="ProcessPath[MSBuild]" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe"/>

        <add key="Logging.Handler[console]" value="LogConsole"/>
        <add key="LogConsole.Severity" value="info"/>
        <add key="LogConsole.Format" value="{Data}"/>
    </appSettings>
</configuration>
