@using Pagination
@using Pagination.Models
@using Pagination.Mvc
@model IEnumerable<IPageLinkModel>

<div class="pagination">
    <ul>
        @foreach (var item in Model) {
            if (item.IsPageRange) {
                <li class="disabled"><span>...</span></li>
            }
            else {
                if (item.IsRequestedPage) {
                    <li class="active"><span>@item.LinkText</span></li>
                }
                else {
                    <li>@Html.PageLink(item)</li>
                }
            }
        }
    </ul>
</div>
